
html
{
    font-family: 'Roboto';
}

.title-body
{
    /*margin-left:auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-1
{
    margin: 20px;
    padding: 8px;
    border-radius:20px;
    border:1px solid dimgray;    
    background-color: hsla(0, 0%, 0%, .5); 
}

h1, h5, label
{
    color: white;
}

body
{
    align-content: center;
}

.centrado
{
    text-align: center;
    align-items: center;
    align-content: center;
}

.ok
{
    margin: auto;
}

.formulary
{
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    text-align: center;

    
    z-index: 1;
    border:1px solid white;
    border-radius:20px;
    backdrop-filter:blur(2px) brightness(50%);    
}
#btn_guardar_receta
{
    background: linear-gradient(white 60%, rgba(160, 160, 160, 160));
    color: dimgray;
}
    #btn_guardar_receta:hover
    {
        color: black;
        background: whitesmoke;  
    }

.oculto
{
    display: none;
}