html
{
    font-family: 'Roboto';
    background: url(../imagenes/image_example.jpg) no-repeat center fixed;    
}

.centrado
{
    align-items: center;
}

.select-group
{
    justify-content: center;
}

.select-group input.form-control
{ 
    width: 85%
}

.select-group select.input-group-addon 
{ 
    width: 15%; 
}

.select-group
{
    padding-top: 10px;
}

form
{
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    /*background: linear-gradient(black 10%, transparent 60%);*/      
    z-index: 2;
}

.perfil
{
    width: 5rem;
    height: 5rem;
}

.title-page
{
    font-size: 60px;
    -webkit-text-stroke: 0.5px black;
    color: white; 
}

img
{
    width: 20rem;
    height: 20rem;
}
    img:hover
    {
        opacity: 40%;
        transition: all 0.5s;
    }

.main
{
    margin-top: 7rem;
    margin-left: 7rem;
    margin-right: 14rem;
    display: block;
    background-color: transparent;    
}

.card
{
    margin: 4rem;
    height: 43rem;
    align-content: center;
    overflow: hidden;
    background-color: beige;
}

.fa
{
    font-size: 18px;
    color: forestgreen;
}

.shadow-card
{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
    border-radius:5px;
}

body, html
{
    height: 100%;
}

.container-fluid
{
    display: block;
}

.sidebtn
{
    color: #f1f1f1;
    padding-left: 0%;
    margin-left: 0%;
}

body 
{
    background-color: transparent;
}  
    .sidenav 
    {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        backdrop-filter:blur(5px) brightness(30%);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border: solid 2px black;
    }
  
    .sidenav a 
    {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #f1eded;
        display: block;
        transition: 0.3s;
    }
  
    .sidenav a:hover 
    {
        color: dimgrey;
    }
  
    .sidenav .closebtn 
    {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  
    @media screen and (max-height: 450px) 
    {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }