.thumbnail
{
    max-width: 100%;
    max-height: 20rem;
    display:block;
    margin:auto;
}

.panel .panel-primary
{
    padding:0; 
    margin:1rem;
}

.panel-heading
{
    text-align:center;
}

.panel-body
{
    padding:0;
}

body
{
    background-color: dimgray;
}

.cPrincipal
{
    background-color: lightgray;
    height: 100%;
    padding-top: 0%;
}

.navbar
{
    margin-bottom: 0%;
}