.thumbnail
{
    max-width: 100%;
    max-height: 20rem;
    display:block;
    margin:auto;
}
.panel{
    
    border-color: black;
}
.panel .panel-primary
{
    padding:0; 
    margin:1rem;
}

.verReporte
{
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.panel-primary >.panel-heading
{
    background-color: black;
    text-align:center;
}

.panel-footer
{
    height: 3.5rem;
    overflow: hidden;
}

.panel-body
{
    padding:0;
}

body
{
    background-color: dimgray;
}

.cPrincipal
{
    height: 100%;
    padding-top: 0%;
}