.container-view
{
    /*background-color: lightgray;*/
    padding-left: 10px;
    padding-right: 10px;
    
    border:1px solid white;
    border-radius:20px;
    backdrop-filter:blur(2px) brightness(50%); 
    color: whitesmoke;
}

h1
{
    align-items: center;
    text-align: center;    
}
.perfil
{
    max-width: 75px;
    max-height: 75px;
}

legend
{
    padding-left: 10px;
    padding-right: 10px;
    
    border:1px solid white;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;    
}

.field-3
{
    margin: 20px;
    padding: 8px;
    border-radius:20px;
    border:1px solid dimgray;    
    background-color: hsla(0, 0%, 0%, .5); 
}

.thumbnail
{
    max-width: 100%;
    max-height: 20rem;
    display:block;
    margin:auto;
}
.panel{
    
    border-color: black;
}
.panel .panel-primary
{
    padding:0; 
    margin:1rem;
}

.panel-primary >.panel-heading
{
    background-color: black;
    text-align:center;
}

.panel-footer
{
    height: 3.5rem;
    overflow: hidden;
}

.panel-body
{
    padding:0;
}

body
{
    background-color: dimgray;
}

textarea
{
    resize: none;
}

.cPrincipal
{
    height: 100%;
    padding-top: 0%;
}